<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "css/base.css" %}" />
        <link rel="stylesheet" href="{% static "css/jquery.m.toast.css" %}" />
        <script src="{% static "js/jquery-1.12.2.min.js" %}"></script>
        <script src="{% static "js/jquery.m.toast.js" %}"></script>
        <script>
            $(document).on("mobileinit", function(){
                           $.mobile.ajaxEnabled=false;
                           $.mobile.loadingMessage = false;
                           });            
            </script>
        <script src="{% static "js/jquery.mobile-1.4.5.min.js" %}"></script>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />

        {% block loadcss %}
        {% endblock %}
        <title>{% block title %}Echo - Create your Own Library{% endblock %}</title>
        
        
        
        <script>
            $( document ).on( "pagecreate", function() {
                             $( "#autocomplete" ).on( "filterablebeforefilter", function ( e, data ) {
                                                     var $ul = $( this ),
                                                     $input = $( data.input ),
                                                     value = $input.val(),
                                                     html = "";
                                                     $ul.html( "" );
                                                     if ( value && value.length > 3 ) {
                                                     $ul.html( "<li><div class='ui-loader'><span class='ui-icon ui-icon-loading'></span></div></li>" );
                                                     $ul.listview( "refresh" );
                                                     $.ajaxSetup({
                                                                 beforeSend:function(){
                                                                 $( "div.ui-loader" ).show();
                                                                 },
                                                                 complete:function(){
                                                                 
                                                                 }
                                                     });
                                                     $.ajax({
                                                            url: "http://www.omdbapi.com/",
                                                            dataType: "jsonp",
                                                            crossDomain: true,
                                                            data: {
                                                            s: $input.val(),
                                                            r: "json",
                                                            type: "movie"
                                                            }
                                                     })
                                                     .then( function ( response ) {
                                                           if (response.Response === "True") {
                                                                  $.each( response.Search, function ( i, movie ) {
                                                                         html += "<li><a href='#' class='add-movie' data-imdbid='" + movie.imdbID + "' data-title='" + movie.Title + "'>" + movie.Title + " <i> " + movie.Year + "</i></a></li>";
                                                                  });
                                                                  $ul.html( html );
                                                                  $( "div.ui-loader" ).hide();
                                                                  $ul.listview( "refresh" );
                                                                  $ul.trigger( "updatelayout");
                                                           
                                                           }
                                                     });
                                                     }
                                });
                             $("#autocomplete").on("click", "a.add-movie", function(e) {
                                                   var clickedContainer = $(this);
                                                   e.preventDefault();
                                                   
                                                   if ( clickedContainer.data('requestRunning') ) {
                                                   return;
                                                   }
                                                   
                                                   clickedContainer.data('requestRunning', true);
                                                   var movieTitle = $(this).attr("data-title");
                                                   var movieImdbid = $(this).attr("data-imdbid");
                                                   
                                                   console.log(movieTitle);
                                                   console.log(movieImdbid);
                                                   
                                                   $.ajaxSetup({
                                                               beforeSend:function(){
                                                                    $.toast("Adding " + movieTitle);
                                                               },
                                                               complete:function(){
                                                                    clickedContainer.data('requestRunning', false);
                                                                    if (requestSuccess){
                                                                        setTimeout(function(){
                                                                            $( "#myPopup" ).popup( "close" );
                                                                        },1);
                                                                        /*setTimeout(function(){
                                                                            window.location.reload()
                                                                        },2000);*/
                                                                    }
                                                               }
                                                               });
                                                   $.ajax({
                                                          url: "/movies/" + movieImdbid + "/add/",
                                                          dataType: "jsonp",
                                                          data: {
                                                          },
                                                          success: function(response){
                                                          console.log("success path");
                                                            if (response.Response === "True") {
                                                                $.toast(movieTitle + " Added - Reloading");
                                                                requestSuccess = true;
                                                            }else{
                                                                $.toast("Error: " + response.Response + " - Try Again");
                                                            }
                                                          },
                                                          error: function(response){
                                                            console.log("error path");
                                                            $.toast(movieTitle + " Failure");
                                                          }
                                                    });
                                                   
                             } );
            });
        </script>
        
    </head>
    
    <body>
        <div id="header" data-role="none">
            <div id="header-wrapper">
                <div id="header-logo">

            <a href="/" target="_self">
                <img src="{% static "img/echo-logo.png" %}" alt="Echo Logo">
            </a>
            <a href="/" target="_self">
                <p>
                    ECHO
                </p>
            </a>
            
                </div>
                <div id="header-inlinecontent">
                    
                
                <a href="/" target="_self">
                    <div>
                        {% block headbar-home %}
                        <p class="header-menu">HOME</p>
                        {% endblock %}
                    </div>
                </a>
                
                <a href="/movies/" target="_self">
                    <div>
                        {% block headbar-movies %}
                        <p class="header-menu">MOVIES</p>
                        {% endblock %}
                    </div>
                </a>
                
                <a href="/series/" target="_self">
                    <div>
                        {% block headbar-series %}
                        <p class="header-menu">SERIES</p>
                        {% endblock %}
                    </div>
                </a>
                
                <a href="/movies/wanted/" target="_self">
                    <div>
                        {% block headbar-wanted %}
                        <p class="header-menu">WANTED</p>
                        {% endblock %}
                    </div>
                </a>
                
                <a href="/series/calendar/" target="_self">
                    <div>
                        {% block headbar-calendar %}
                        <p class="header-menu">CALENDAR</p>
                        {% endblock %}
                    </div>
                </a>
            
                </div>
            </div>
        </div>
        <a id="search-link" href="#myPopup" data-rel="popup" class="ui-btn ui-btn-inline ui-overlay-shadow ui-corner-right">
            <img src="{% static "img/search-min.png" %}" alt="Search">
        </a>
        

        <div data-role="popup" id="myPopup" class="ui-content" data-position-to="window" data-transition="pop"  data-overlay-theme="b">
            <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
            <p><ul id="autocomplete" data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Search a Movie" data-filter-theme="a">
            </ul></p>
        </div>
        
        
        <div id="content">
            <div id="content-title">
                {% block content-title %}
                
                {% endblock %}
            </div>
            <div id="content-line">
            </div>
            {% block content %}
            
            {% endblock %}
        </div>
        <script>
            $(document).ready(function(){
                          {% block js-script %}
                          {% endblock %}
            });
        </script>
    </body>
</html>